/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.st-container{
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.box{
    width: calc(100% / 5);
    border: 1px solid black;
}
.prova{
    display: none;
}
